body {
    background-color: black;
    background-image: linear-gradient(black, navy);
    /*this is a comment*/
    color: hsl(0,0,100);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h1 {
    color: rgb(240, 248, 255);
    text-align: center;
  }
  
  @media (max-width: 1250px) {
    /* … */
  }