body {
    background-color: hsl(0,0,0);
    background-image: linear-gradient(black, navy);
    /*this is a comment*/
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  h1 {
    color: rgb(240, 248, 255);
    text-align: center;
    text-decoration: dotted;
  }

  @media (max-width: 1250px) {
    /* … */
  }

  .wrapper {
    font-size: 1em;
  }
  
  .px {
    width: 200px;
  }
  
  .vw {
    width: 10vw;
  }
  
  .em {
    width: 10em;
  }

  .cm {
    height: 10cm;
  }

  .mm {
    min-width: 10mm;
  }

  .in {
    font-size: 1in;
  }